body {
  background-color: yellow;
  padding-top: 100px;
}

h1 {
  font-family: cursive;
  text-align: center;
  font-size: 50px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.color.wrapper {
  order: 1;
  font-family: cursive;
  font-size: 25px;
}

.date.wrapper {
  order: 2;
  font-family: cursive;
  font-size: 25px;
}

.wrapper {
  margin-bottom: 2rem;
}

label {
  margin-left: 0.2rem;
}

.date {
  color: blue;
}

.color {
  color: red;
}
